*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --darkpurple: #330f33;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}


header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);

}
.content{
  font-size: 36px;
}

.left_header{
  float: left;
  font-size: 36px;
}

a{
  text-decoration: none;
  color:purple
}

.input_name{
  margin-left: 5%;
  height: 30px;
  display:inline;
  font-size: 24px;
}

.timer{
  float: right;
display: inline;
font-size: 20px;
}



.quiz_start {
  width:200px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color:white;
  background-color: purple;
  position: absolute;
  left: 45%;
  border: 2px solid grey;
  border-radius: 8px;
 }

 .btn_submit{
  width:200px;
  padding: 5px;
  margin-left: 1%;
  margin-bottom: 10px;
  font-size: 20px;
  color:white;
  background-color: purple;
  border: 2px solid grey;
  border-radius: 8px;
 }
 .btn_clear, .btn_back{
  width:200px;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 10px;
  font-size: 20px;
  color:white;
  background-color: purple;
  border: 2px solid grey;
  border-radius: 8px;
 }

.question{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 600px;
  padding: 5px;
}

.btn{
  display: block;
  width:300px;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 10px;
  font-size: 20px;
  color:white;
  background-color: purple;
  text-align: left;
  border: 2px solid grey;
  border-radius: 8px;
}
.result{
  display: block;
  width:80%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 400px;
  padding: 5px;
  box-align: left;
  border-top: 5px;
}
.ol{
  width:50%;
  background-color: lightgray;
}